#boardnotes {
  width: 576px;
  height: 1024px;
  position: relative;
  margin: auto;
}
#spanboardnotes {
  color: #000;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 23px;
  left: 90px;
}
#notes {
  overflow: auto;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-auto-rows: 235px;
  justify-content: space-evenly;
  justify-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 500px;
  height: 800px;
  position: absolute;
  top: 136px;
  left: 38px;
  background: linear-gradient(
      0deg,
      rgba(255, 226, 169, 0.5) 0%,
      rgba(255, 226, 169, 0.5) 100%
    ),
    #e8d38e;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.note {
  width: 200px;
  height: 200px;
  background: #e8d38e;
  border: 2px solid #ccb466;
  text-align: center;
  line-height: 200px;
  position: relative;
}
input {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  background-color: transparent;
  border: 0px;
  color: #000;
  width: 200px;
  height: 200px;
}
#delete {
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  right: 5px;
  top: 5px;
  color: red;
  background: transparent;
  border: 0px;
}
#create {
  width: 200px;
  height: 200px;
  text-align: center;
  background: #e8d38e;
  font-size: 64px;
  vertical-align: middle;
  border: 0px;
}
#create:hover {
  filter: brightness(1.05);
}
.note:hover {
  filter: brightness(1.05);
}
