<div id="logged-home">
  <span id="spanlogged-home">Take-A-Note</span>
  <div id="createboard">
    <svg
      id="paper1"
      xmlns="http://www.w3.org/2000/svg"
      width="540"
      height="143"
      viewBox="0 0 540 143"
      fill="none"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M491.5 16H20V119H520V44.5L491.5 16Z"
        fill="#9FFFF9"
      />
    </svg>
    <svg
      id="fold1"
      xmlns="http://www.w3.org/2000/svg"
      width="29"
      height="29"
      viewBox="0 0 29 29"
      fill="none"
    >
      <path d="M29 28.5L0.5 0V28.5H29Z" fill="#7EB6C2" />
    </svg>
  </div>
</div>
