<div id="login">
  <span id="spanlogin">Login</span>
  <form [formGroup]="user" (ngSubmit)="submit()">
    <div id="error3" class="error" *ngIf="error">
      No existe esa combinación de usuario y contraseña
    </div>
    <svg
      id="tape1"
      xmlns="http://www.w3.org/2000/svg"
      width="83"
      height="91"
      viewBox="0 0 83 91"
      fill="none"
    >
      <path
        d="M82.6756 19.6147L11.9846 90.3057L-7.49719 70.824L63.1938 0.132947L82.6756 19.6147Z"
        fill="#F2FACF"
        fill-opacity="0.5"
        style="mix-blend-mode: overlay"
      />
    </svg>
    <svg
      id="tape2"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="101"
      viewBox="0 0 28 101"
      fill="none"
    >
      <path
        d="M27.8621 0.775694V100.748H0.310732V0.775694H27.8621Z"
        fill="#F2FACF"
        fill-opacity="0.5"
        style="mix-blend-mode: overlay"
      />
    </svg>
    <div
      id="error1"
      class="error"
      *ngIf="
        user.get('name')?.invalid &&
        (user.get('name')?.dirty || user.get('name')?.touched)
      "
    >
      Este campo es obligatorio
    </div>
    <input
      type="text"
      id="name"
      placeholder="Ingrese Usuario"
      formControlName="name"
    />
    <svg
      id="tape3"
      xmlns="http://www.w3.org/2000/svg"
      width="94"
      height="28"
      viewBox="0 0 94 28"
      fill="none"
    >
      <path
        d="M-6.57526 27.995H93.3969V0.443636H-6.57526V27.995Z"
        fill="#F2FACF"
        fill-opacity="0.5"
        style="mix-blend-mode: overlay"
      />
    </svg>
    <svg
      id="tape4"
      xmlns="http://www.w3.org/2000/svg"
      width="93"
      height="28"
      viewBox="0 0 93 28"
      fill="none"
    >
      <path
        d="M100.575 27.995H0.603086V0.443636H100.575V27.995Z"
        fill="#F2FACF"
        fill-opacity="0.5"
        style="mix-blend-mode: overlay"
      />
    </svg>
    <div
      id="error2"
      class="error"
      *ngIf="
        user.get('pass')?.invalid &&
        (user.get('pass')?.dirty || user.get('pass')?.touched)
      "
    >
      Este campo es obligatorio
    </div>
    <input
      type="password"
      id="password"
      placeholder="Ingrese Contraseña"
      formControlName="pass"
    />
    <input type="submit" value="Iniciar Sesión" />
    <a id="register" [routerLink]="['../register']">Registrarse</a>
  </form>
</div>
