<div id="home">
  <span>Take-A-Note</span>
  <div id="postit" [routerLink]="['login']">
    <svg
      id="paper"
      xmlns="http://www.w3.org/2000/svg"
      width="500"
      height="500"
      viewBox="0 0 500 500"
      fill="none"
    >
      <path d="M500 500V100H400V0H0V500H500Z" fill="#FFF29C" />
    </svg>
    <svg
      id="fold"
      xmlns="http://www.w3.org/2000/svg"
      width="100"
      height="100"
      viewBox="0 0 100 100"
      fill="none"
    >
      <path d="M100 100L0 0V100H100Z" fill="#E8D38E" />
    </svg>
    <span id="ingresar">Ingresar</span>
  </div>
</div>
